

.read-the-docs {
  color: #888;
}
.flex{
  

 text-align: center;
  border-radius: 12px;
  background-color: black;
}
.img{
  width:100px;
  height:100px;
  object-fit:fill;
}
.one{

  background-color: rgb(253, 253, 253);
  width:200px;
  padding: 20px;
  
  border-radius: 12px;
  box-shadow: 0px 0px 10px 2px lightgrey;
  
  
}
.new{
  display: flex;
align-items: center;
gap: 10px;
flex-wrap: wrap;
flex-direction: row;
  justify-content: space-around;
  
  border-radius: 12px;
  }
